<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.trainiq.benchmark.BenchmarkSeedActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true" />
    </application>
</manifest>
